---

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";


const pricing = [
    {
      name: "Free",
      price: "$0",
      popular: false,
      features: [
        "Unlimited web apps",
        "1GB of workflow data",
        "5GB of data storage",
        "Up to 5 users",
      ],
      button: {
        text: "Try Free",
        link: "/"
      }
    },
    {
      name: "Team",
      price: {
        monthly: "$10",
        annual: "$10",
        discount: "10%",
        original: "$24"
      },
      popular: true,
      features: [
        "Everything in Free, plus",
        "Staging environment",
        "App release versions",
        ">5 users",
      ],
      button: {
        text: "Start a free trial",
        link: "#"
      }
    },
    {
      name: "Business",
      price: "$50",
      popular: false,
      features: [
        "Everything in Team, plus",
        "App-level permissions",
        "Unlimited environments",
        "Unlimited modules",
      ],
      button: {
        text: "Get started",
        link: "/contact"
      }
    },
    {
      name: "Enterprise",
      price: "Custom",
      popular: false,
      features: [
        "Everything in Business, plus",
        "SAML/OpenID Connect SSO",
        "Source control",
        "Custom branding",
        "Volume-based discounts",
        "Dedicated support",
      ],
      button: {
        text: "Book a demo",
        link: "/contact"
      }
    }
  ];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">Find the plan that works for you</Fragment>


    </Sectionhead>


    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => (
        <div>
          <Pricing plan={item} />

        </div>
      ))}
    </div>
    <div>
    
    </div>
  </Container>
</Layout>
