---
import Link from "./ui/link.astro";
import { Image, Picture } from '@astrojs/image/components';
---

<div class="bg-white p-8 md:px-20 md:py-20 mt-100 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-black text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
    A complete set of powerful building blocks
  </h2>
  <p class="text-black text-lg font-bold mt-4 text-slate-600">
    All business software is made up of the same building blocks: Tables, Lists, Charts, Forms, Maps and so on. CodeBlocks provides those blocks out of the box so you can spend your time assembling your UI by dragging and dropping, not inventing it from scratch.
  </p>
  <div class="flex mt-5">
    <Link href="#" size="md" block>View all 100+ components</Link>
  </div>
</div>



    
