---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<p class="text-black mt-16 font-extrabold lg:text-5xl text-4xl tracking-tight items-center text-center">
    Choose from our built-in component library for the internal apps you're building
</p>

<div>
    <div class="bg-black text-white p-1 md:p-0 md:pt-1 md:pb-1 mt-4 mx-auto max-w-xs rounded-lg flex flex-col items-center text-center">
    <Link href="#" style="inverted; color: white;">Join waiting list</Link>
</div>"
