---
import { Picture } from "@astrojs/image/components";
import { Image, Picture } from '@astrojs/image/components';
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<p class="text-black mt-16 font-extrabold lg:text-5xl text-4xl tracking-tight items-center text-center">
    Launch CodeBlocks in minutes
</p>

<div>
    <p class="text-lg mt-4 text-slate-600 max-w-xl mx-auto items-center text-center">
        Deploy CodeBlocks on your own infrastructure, behind your own VPN, in your own VPC.
    </p>

<p class="text-3x1 lg:text-3xl mt-3 font-bold xl:text-7x1 text-slate-600 max-w-xl">
      AWS
<img alt="logo" class="max-h-6 " src="/amazontiny.jpg" />
     </p>

 <p class="text-black text-lg font-bold mt-4 text-slate-600">
      Use our AWS 1-click deploy with CloudFormation
  </p>
<p class="text-3x1 lg:text-3xl mt-3 font-bold xl:text-7x1 text-slate-600 max-w-xl">
      Docker
<img alt="logo" class="max-h-6 " src="/dockertiny.png" />
     </p>

 <p class="text-black text-lg font-bold mt-4 text-slate-600">
      Deploy CodeBlocks in less than 10 minutes as a Docker container or with Helm on Kubernetes
  </p>
<div class="bg-black text-white p-1 md:p-0 md:pt-1 md:pb-1 mt-4 mx-auto max-w-xs rounded-lg flex flex-col items-center text-center">
    <Link href="#" style="inverted; color: white;">Get started in under 10 minutes</Link>
</div>"

 <h1 class="text-5xl mt-3 lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Start building an internal tool or customer portal in under 10 minutes
 </h1>
    <p class="text-3x1 lg:text-3xl xl:text-7x1 text-slate-600 max-w-xl">
      Try CodeBlocks today
     </p>
<div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="http://eepurl.com/ixCxFU"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Sign up for free
      </Link>
    </div>
  </div>

<div class="grid grid-cols-2 gap-0.5 lg:mt-4 md:grid-cols-6 mt-3">
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Figma.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Canva.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Stripe.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Gitlab.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Linear.svg" />
  </div>
</div>

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24" style="justify-content: flex-end;">
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Financial Services
    </h1>
    <p class="text-black text-lg font-bold mt-4 text-slate-600">
      KYC. AML. Underwriting. Financial service businesses need to balance the speed and efficiency for customers with the accountability and transparency demanded to comply with regulatory requirements. Data regulation can make it hard to build applications quickly and securely. But with self-hosted CodeBlocks you can move fast with the guarantee that no PII will ever leave your VPC.
    </p>
  </div>
<div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>
</main>

<main
  class="grid lg:grid-cols-2 place-items-center pt-8 pb-8 md:pt-12 md:pb-24">
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Biotechnology and Pharmaceuticals
    </h1>
<p class="text-black text-lg font-bold mt-4 text-slate-600">
Biotech and pharmaceutical companies deal with sensitive research data and strict regulatory requirements. CodeBlocks can be used to create applications that manage research data, track experiments, and ensure compliance with industry regulations, all while safeguarding critical research information within the company's secure environment.
  </p>
<div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="http://eepurl.com/ixCxFU"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        See more use cases
      </Link>
      
    </div>
  </div>
</main>

<div class="grid grid-cols-2 gap-0.5 lg:mt-4 md:grid-cols-6">
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Figma.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Canva.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Stripe.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Gitlab.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Linear.svg" />
  </div>
</div>

<main
  class="grid lg:grid-cols-2 place-items-center pt-8 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Retail and E-Commerce
    </h1>
    <p class="text-black text-lg font-bold mt-4 text-slate-600">
      Retailers need to balance inventory levels, track supplier relationships, and ensure seamless order fulfillment. CodeBlocks can empower retail businesses to develop applications that optimize inventory management and streamline supplier interactions, all while keeping sensitive supplier and inventory data confidential within their network.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="http://eepurl.com/ixCxFU"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        See more use cases
      </Link>
    </div>
  </div>
<div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>
</main>

<main
  class="grid lg:grid-cols-2 place-items-center pt-8 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Healthcare
    </h1>
<p class="text-black text-lg font-bold mt-4 text-slate-600">
  With patients to manage, vendors to track, and regulations to meet, your engineering team is already overwhelmed. Stop getting stuck on operations tooling and go build a better customer experience instead. Strict data security has historically made it hard to adapt quickly to policy or macro changes. Today, by self-hosting CodeBlocks, you can build apps quickly while keeping your patient data secure in your VPC.
  </p>
<div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="http://eepurl.com/ixCxFU"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        See more use cases
      </Link>
      
    </div>
  </div>
<div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>
</main>
