---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<p class="text-black mt-16 font-extrabold lg:text-5xl text-4xl tracking-tight items-center text-center">
    CodeBlocks Documentation
</p>

<div>
    <p class="text-lg mt-4 text-slate-600 max-w-xl mx-auto items-center text-center">
        <wbr /> CodeBlocks enables you to quickly build any business software, remarkably fast. Connect and query your databases and APIs, build web or mobile apps with rich user interfaces, automate complex tasks, and create database tables for your data in seconds.
    </p>
</div>"
