

---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Deploy anywhere you want.
    </h1>
    <p class="text-3x1 lg:text-3xl mt-3 font-bold xl:text-7x1 text-slate-600 max-w-xl">
      CodeBlocks comes with the security, reliability, and permissioning built in.
     </p>
<div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="http://eepurl.com/ixCxFU"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Learn more about enterprise features
      </Link>
    </div>
  </div>
</main>
