---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<p class="text-black mt-16 font-extrabold lg:text-5xl text-4xl tracking-tight items-center text-center">
    Connect to anything with an API
</p>

<div>
    <p class="text-2xl mt-6 text-slate-700 max-w-2xl mx-auto items-center text-center font-bold">
    Out of the box, CodeBlocks will seamlessly connect to almost any REST or GraphQL API. 
    With a constantly expanding collection of native integrations, it's simpler than ever to establish connections with your valuable data sources.
    </p>

    <div class="bg-black text-white p-1 md:p-0 md:pt-1 md:pb-1 mt-4 mx-auto max-w-xs rounded-lg flex flex-col items-center text-center">
    <Link href="#" style="inverted; color: white;">Join waiting list</Link>
</div>"
