

---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  
  <div>
    <p class="text-black mt-16 font-extrabold lg:text-5xl text-4xl tracking-tight items-center text-center">
    Explore our platform
</p>
    <p class="text-black mt-16 font-extrabold lg:text-5xl text-4xl tracking-tight items-center text-center">
    Explore our products
</p>
    <p class="text-3x1 lg:text-3xl xl:text-7x1 text-slate-600 max-w-xl">
     </p>
<div class="mt-6 flex flex-col sm:flex-row gap-3">
    </div>
  </div>
</main>
