---
// @ts-ignore
import { Image, Picture } from '@astrojs/image/components';
---

 <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>
    <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Figma.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Canva.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Stripe.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Gitlab.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Linear.svg" />
  </div>
 <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Gumroad.svg" />
  </div>
</div>
</div>


    </div>


<div class="mt-16">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-2 flex-wrap">
    <h2 class="text-center text-slate-500">From startups to Fortune 500s, the world's most effective teams use CodeBlocks to build custom internal tools.</h2>
  </div>
  <div class="my-4">
  </div>
</div>
