---
// @ts-ignore
import { Image, Picture } from '@astrojs/image/components';
---
<div class="mt-8">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-2 flex-wrap">
    <h2 class="text-center text-slate-500">From startups to Fortune 500s, the world's most effective teams use CodeBlocks to build custom internal tools.</h2>
  </div>
 
</div>


    <div class="grid grid-cols-2 gap-0.5 lg:mt-4 md:grid-cols-6">
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Figma.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Canva.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Stripe.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Gitlab.svg" />
  </div>
  <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Linear.svg" />
  </div>
 <div class="flex justify-center col-span-1 px-8">
    <img alt="logo" class="max-h-12 " src="/Gumroad.svg" />
  </div>
</div>
</div>


    </div>

