---
import Link from "./ui/link.astro";
---

<div class="bg-white p-8 md:px-20 md:py-20 mt-100 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-black text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
    Build internal tools faster with plug-and-play templates
  </h2>
  <p class="text-black text-lg font-bold mt-4 text-slate-600">
    Power your team with ready made solutions
  </p>
<div />


<div class="hidden lg:flex items-center gap-4 mt-12">
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
      </div>
<div>
      <div class="hidden lg:flex items-center gap-4 mt-3">
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
      </div>
    </div>

<div class="hidden lg:flex items-center gap-4 mt-12">
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
      </div>
<div>
      <div class="hidden lg:flex items-center gap-4 mt-3">
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
      </div>
    </div>

<div class="hidden lg:flex items-center gap-4 mt-12">
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
      </div>
<div>
      <div class="hidden lg:flex items-center gap-4 mt-3">
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
      </div>
    </div>

<div class="hidden lg:flex items-center gap-4 mt-12">
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
      </div>
<div>
      <div class="hidden lg:flex items-center gap-4 mt-3">
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
      </div>
    </div>

<div class="hidden lg:flex items-center gap-4 mt-12">
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
      </div>
<div>
      <div class="hidden lg:flex items-center gap-4 mt-3">
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
        <Link href="http://eepurl.com/ixCxFU" size="md">Try this template</Link>
      </div>
    </div>
