---
import Link from "./ui/link.astro";
---
<section class="bg-slate-100">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="max-w-3xl mx-auto md:text-center">
      <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
        Loved by developers
      </h2>
    </div>
    <ul
      role="list"
      class="grid max-w-2xl grid-cols-1 gap-6 mx-auto mt-16 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-4"> <!-- Increased grid-cols to 4 -->
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
    <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
      
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
             <div>
              <div class="text-center">
          <div class="text-lg font-bold leading-6 text-black font-display">
              OpenAI
          </div>
        </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                OpenAI is an artificial intelligence research organization focused on developing and advancing AI technologies that prioritize safety, human benefits, and broad accessibility.
              </div>
            </div>
          </figcaption>
        </figure>
      </li>
      <!-- Duplicating the OpenAI box 5 more times -->
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
             
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                PostgreSQL
              </div>
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                PostgreSQL is an open-source relational database management system.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Google Sheets
              </div>

              <div class="text-lg mt-3 leading-6 text-black font-display">
                Google Sheets lets users create and collaborate on spreadsheets.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Slack
              </div>
            <div class="text-lg mt-3 leading-6 text-black font-display">
                Slack is a platform for team communication that carries on throughout the day.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Airtable
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Airtable is the leading provider of no-code platform sheet integrations.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                MongoDB
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                MongoDB is a general purpose, document-based, non-relational database.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                SendGrid
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                A customer communication platform for transactional and marketing email services.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                MySQL
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                MySQL is an open-source relational database management system.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
       <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Amazon S3
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Amazon S3 is an object storage service with finely-tuned access controls.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Snowflake
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Snowflake is the leading service provider of data warehouses and cloud infrastructure.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                GraphQL
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                GraphQL is a query language and runtime for your APIs.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                REST APIs
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                REST is an architecture style for building API endpoints.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                CircleCI
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                A continuous integration and delivery platform for teams.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Notion
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Notion is a project amangement software for development teams.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Microsoft SQL Server
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
              Microsoft SQL Server is a relational database management system.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-semibold leading-6 text-black font-display">
                MariaDB
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                MariaDB is an open-source relational database.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                DynamoDB
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Amazon DynamoDB is a fully managed NoSQL database service.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                BigQuery
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Google BigQuery is a fully-managed, serverless data warehouse.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Redshift
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Amazon Redshift is a fully managed, petabyte-scale data warehouse service.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Databricks
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Databricks is a cloud-based data engineering and machine learning platform.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Google Cloud Storage
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Globally unified, scalable, and highly durable object storage.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Firebase
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Firebase provides a real-time database and back-end as a service.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Elasticsearch
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Elasticsearch is a distributed, RESTful search and analytics engine.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Salesforce
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                A leading customer relationship management (CRM) application.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Stripe
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Stripe is a suite of payment APIs that powers commerce for online businesses.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                GitHub
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                GitHub provides a managed hosting solution for version control using Git.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
<li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Zendesk
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Zendesk makes software for success and support teams.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="relative h-full p-6 bg-white rounded-3xl">
          <blockquote class="relative">
            <!-- Content for Box 1 -->
          </blockquote>
          <figcaption
            class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
            <div>
              <div class="text-center">
              <div class="text-lg font-bold leading-6 text-black font-display">
                Azure Blob Storage
              </div>
              <div class="text-lg mt-3 leading-6 text-black font-display">
                Microsoft Azure is a cloud infrastructure platform similar to AWS.
              </div>
            </div>
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                width="56"
                height="56"
                decoding="async"
                data-nimg="future"
                class="object-cover h-14 w-14"
                loading="lazy"
                style="color: transparent"
              />
            </div>
          </figcaption>
        </figure>
      </li>
      <div>
    </ul>
    <div class="bg-black text-white p-1 md:p-0 md:pt-1 md:pb-1 mt-4 mx-auto max-w-xs rounded-lg flex flex-col items-center text-center">
    <Link href="#" style="inverted; color: white;">See all integrations</Link>
</div>"
  </div>
</section>
